<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span class="banner_name"><h2>book4show</h2></span>

    <span class="filler"></span>
    
    <a mat-button  *ngIf="!isLoggedIn" (click)="login()">Login</a>
    
    <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="isAdmin"  (click)="addMovieTheatre()"><mat-icon>add</mat-icon>New Movie Theatre</button>
        <button mat-menu-item *ngIf="isAdmin"  (click)="addMovie()"><mat-icon>add</mat-icon>New Movie</button>
        <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
    </mat-menu>
</mat-toolbar>
<list-movie-theatre></list-movie-theatre>
<router-outlet></router-outlet>